/* styles.css */
body {
    background-color: #050210;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, p {
    color: white;
    margin: 20px;
}

.clickable-box {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 20px; /* Some padding */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    margin: 20px; /* Some margin */
    transition: background-color 0.3s; /* Smooth transition */
}

.clickable-box:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .clickable-box {
        padding: 15px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .clickable-box {
        padding: 10px;
        font-size: 16px;
    }
}
