html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0D0731;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff; /* White color for better contrast */
}

p {
    color: #ccc; /* Light gray color for better contrast */
    line-height: 1.5;
}
